body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table tbody tr td {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
table{
  border-collapse: collapse;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Thomas's React code */

:root {
  --font-family: 'Roboto Mono', monospace;

  --gradient-text: radial-gradient(ellipse farthest-side at top left, #2ECEFF 0%, #0071C7 50%, #B92ECF 100%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --color-bg: #2C2F33;
  --color-footer: #000000;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
