@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-family: 'Roboto Mono', monospace;

  --gradient-text: linear-gradient(103.22deg, #67d5fa -13.86%, #df67f4 99.55%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --color-bg: #101B37;
  --color-blog: #042c54;
  --color-text: #c6e3ff;
  --color-subtext: #01c8ee;
}
body, html {
  height: 100%;
  margin: 0;
}