.footer {
    border: 1px solid whitesmoke;
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background: var(--color-footer);
}

.footer-heading {
    width: 100%;
    text-align: center;
    font-family: var(--font-family);
    font-size: 200px;

    margin-bottom: 3rem;
}

.footer-links_logo img {
    width: 100px;
}

.footer-links_logo {
    display: flex;
    font-family: var(--font-family);
    flex-direction: column;
    font-size: 12px;
    line-height: 14px;
}

.footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
    text-align: left;
}

.footer-links div {
    flex: row;
    width: 250px;
    margin: 1rem;
}


.footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-links_div h4 {
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 1rem;
}

.footer-links_div p {
    font-family: var(--font-family);
    font-size: 12;
    line-height: 14px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.footer-copyright p {
    font-family: var(--font-family);
    font-size: 12;
    line-height: 14px;
    margin: 0.5rem 0;
}

@media screen and (max-width: 850px) {
    .footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 700px) {
    .footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .footer-heading p {
        font-size: 14px;
        line-height: 20px;
    }

    .footer-links div {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}