/* General formatting */
.vec__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

/* Links menu formatting */
.vec__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vec__navbar-links-logo {
    margin-right: 1.5rem;
}

.vec__navbar-links-logo img {
    width: 100px
}

.vec__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.vec__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vec__navbar-links_container p,
.vec__navbar-sign p,
.vec__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.vec__navbar-sign button,
.vec__navbar-menu_container button {
    padding: 0.5rem 0.8rem;
    color: #000000;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    text-transform: capitalize;

    background: #5865F2;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.vec__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.vec__navbar-menu svg {
    cursor: pointer;
}

.vec__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.vec__navbar-menu_container p {
    margin: 1rem 0;
}

.vec__navbar-menu-container-links-sign {
    display: none;
}

/* Settings for smaller displays */
@media screen and (max-width: 1050px) {
    .vec__navbar-links_container {
        display: none;
    }
    .vec__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .vec__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .vec__navbar {
        padding: 2rem;
    }
    .vec__navbar-sign {
        display: none;
    }
    .vec__navbar-menu_container {
        top: 20px;
    }
    .vec__navbar-menu_container-links-sign {
        display: block;
    }
}
